{% extends "base.html" %}
{% block start %}

<header class="p-4 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About Us</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Contact Us</a></li>
      </ul>

     
      <div class="text-end">
        <a type="button" class="btn btn-warning" href="{% url 'login' %}">Login</a>
        <a type="button" class="btn btn-warning" href="{% url 'signup' %}">Sign-up</a>
        <a type="button" class="btn btn-warning" href="{% url 'logout' %}">Log out</a>

        
      </div>
    </div>
  </div>
</header>
{% endblock %}